<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Wink Hosting (www.winkhosting.com)" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="/s/css/style2.css" type="text/css" />
	<script type="text/javascript" src="http://api-maps.yandex.ru/1.1/index.xml?key=ADeQTkwBAAAAuMr-NQIA8BfhPGjPxWuKOAPDJVBPAU6QyjkAAAAAAAAAAAB5fpcMwDw9jHcS4ciq3BK5Ks13Tw=="></script>
	<script type="text/javascript" src="/s/js/transportmenu.js"></script>

	<title>Peresadok.net</title>
</head>
<body>


	<div id="page" align="center">
		<div id="toppage" align="center">
		  <div id="topbar">
				<div align="right" style="padding:12px;" class="smallwhitetext"><a href="#">Home</a> | <a href="#">Sitemap</a> | <a href="#">Contact Us</a></div>
		  </div>
		</div>
		<div id="header" align="center">
			<div id="pagetitle" align="right" margin-right="5px">
				<div id="title" class="titletext" align="right"></div>
			</div>
		</div>

		<div id="contenttext" align="center">
		  <table border=1 width="1184px"> 
        {% block content %}
		    <tr>
		      <td width="50px">qqqqq</td>
		      <td><div id="YMapsID" style="width:800px;height:600px"></div></td>
		      <td>
			<div style="width:110px;height:20px">
			<input type="checkbox" id="Transport1" name="Transport1" checked="checked">Трамвай</br>
			</div>
			<div style="width:110px;height:20px">
			<input type="checkbox" id="Transport2" name="Transport2" checked="checked">Метро</br>
			</div>
			<div style="width:110px;height:20px">
			<input type="checkbox" id="Transport3" name="Transport3" checked="checked">Тролейбус</br>
			</div>
			<div style="width:110px;height:20px">
			<input type="checkbox" id="Transport4" name="Transport4" checked="checked">Автобус</br>
			</div>
			<ul id="menu"></ul>
		      </td>	  
		    </tr>
	{% endblock %}
	<tr>
	  <td></td>
	  <td height=40px><div id='human_readable'></div></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td><div id="footer" class="smallgraytext" align="center">
	      <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Products</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a><br />
	      Your Company Name &copy; 2007<br />
	      <a href="http://www.winkhosting.com" title="Hosting Colombia">Hosting Colombia</a><br />
	    </div></td>
	  <td></td>
	</tr>
		</div>
	</div>

</body>
</html>
