<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Wink Hosting (www.winkhosting.com)" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/s/css/style2.css" type="text/css" />
	<script type="text/javascript" src="http://api-maps.yandex.ru/1.1/index.xml?key=ADeQTkwBAAAAuMr-NQIA8BfhPGjPxWuKOAPDJVBPAU6QyjkAAAAAAAAAAAB5fpcMwDw9jHcS4ciq3BK5Ks13Tw=="></script>
	<script type="text/javascript" src="/s/js/transportmenu.js"></script>

	<title>Peresadok.net</title>
</head>
<body>


	<div id="page" align="center">
		<div id="toppage" align="center">
		  <div id="topbar">
				<div align="right" style="padding:12px;" class="smallwhitetext"><a href="#">Home</a> | <a href="#">Sitemap</a> | <a href="#">Contact Us</a></div>
		  </div>
		</div>
		<div id="header" align="center">
			<div id="pagetitle" align="right" margin-right="5px">
				<div id="title" class="titletext" align="right"></div>
			</div>
		</div>

		<div id="contenttext" align="left">
		  <table width=1010px> 
        {% block content %}
		    <tr>
		      <td></td>
		      <td valign="top" align="center"><div id="YMapsID" style="width:800px;height:480px"></div><div id='human_readable'></div><div id='human_readable2'></div></td>
		      <td width="200" valign="top">
			<div style="width:110px;height:30px">
			<input type="text" id="start" value="пр. Ленина, 9"></br>
			</div>
			<div style="width:110px;height:30px">
			<input type="text" id="finish" value="пр. Ленина, 9"></br>
			</div>
			<div style="width:110px;height:30px">
			<input type="button" id="push" value="Найти"></br>
			</div>
			<div style="width:140px;height:20px">
			  <p><input type="checkbox" id="Transport1" name="Transport1" checked="checked"></br>
			    <input type="button" id="show_route1" value="Трамвай"></br></p>
			</div>
			<div style="width:140px;height:20px">
			  <p><input type="checkbox" id="Transport2" name="Transport2" checked="checked"></br>
			    <input type="button" id="show_route2" value="Метро"></br></p>
			</div>
			<div style="width:140px;height:20px">
			  <p><input type="checkbox" id="Transport3" name="Transport3" checked="checked"></br>
			    <input type="button" id="show_route3" value="Автобус"></br></p>
			</div>
			<div style="width:140px;height:20px">
			  <p><input type="checkbox" id="Transport4" name="Transport4" checked="checked"></br>
			    <input type="button" id="show_route4" value="Тролейбус"></br></p>
			</div>
			<div id="routes1">
			  <ul id="menu1"></ul>
			  <input type="button" id="hide_route1" value="hide"></br>
			</div>
			<div id="routes2">
			  <ul id="menu2"></ul>
			  <input type="button" id="hide_route2" value="hide"></br>
			</div>
			<div id="routes3">
			  <ul id="menu3"></ul>
			  <input type="button" id="hide_route3" value="hide"></br>
			</div>
			<div id="routes4">
			  <ul id="menu4"></ul>
			  <input type="button" id="hide_route4" value="hide"></br>
			</div>
			<div>
			{#<ul id="menu"></ul>#}
			</div>
		      </td>	  
		    </tr>
	{% endblock %}
	<tr>
	  <td></td>
{#	  <td height=40px><div id='human_readable'></div></td>#}
	  <td></td>
	</tr>
	<tr>
	  <td></td>
{#	  <td><div id='human_readable2'></div></td>#}
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td><div id="footer" class="smallgraytext" align="center">
	      <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Products</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a><br />
	      Peresadok.net &copy; 2011<br />
	    </div></td>
	  <td></td>
	</tr>
		</div>
	</div>

</body>
</html>
